body {
  background-color: black; }
  body .nav {
    position: fixed;
    z-index: 99999; }
    body .nav .logo {
      background-image: url("../images/dzlogo.png");
      background-size: contain;
      background-repeat: no-repeat;
      filter: invert(100%);
      height: 10vmin;
      width: 10vmin;
      margin-left: 5vw;
      margin-top: 3vh; }
    body .nav .navlist {
      list-style: none;
      padding: 0;
      margin-left: 5vw;
      text-align: center; }
      body .nav .navlist li {
        /*line-height: 10vh;*/
        border: 1px solid #666666; }
      body .nav .navlist li:hover {
        cursor: pointer; }

a {
  text-decoration: none;
  color: #666666; }

a:hover {
  color: #333333; }

.downarr {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  z-index: 10;
  text-align: center;
  color: #666666;
  font-size: 4vh; }

#downscroll:hover {
  cursor: pointer;
  animation: bounce 1s; }

.uparr {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  z-index: 10;
  text-align: center;
  color: #666666;
  font-size: 4vh; }

#upscroll:hover {
  cursor: pointer;
  animation: bounce 1s; }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
body {
  margin: 0;
  /*font-family: lobster, arial, sans-serif*/ }

.hero {
  position: relative;
  text-align: center;
  height: 80vh; }

.firstspacer {
  height: 20vh; }

.hero-content {
  display: block;
  position: relative;
  z-index: 999;
  margin-top: 15vh; }
  .hero-content .namething {
    font-size: 15vmin;
    margin-bottom: 0; }

.parallax {
  display: block;
  text-align: center;
  /*padding: 10em 1em;*/
  color: white;
  overflow: hidden;
  font-size: 2vmin; }

.fullsize {
  height: 100vh; }

.workthing img {
  width: 70vmin; }

.parallax h1 {
  font-size: 5vmin;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 15px;
  font-family: 'Josefin Slab', serif;
  margin-top: 10vh; }

.parallax p {
  font-family: 'Raleway', sans-serif;
  font-size: 2vmin;
  /*text-transform: uppercase;*/
  /*letter-spacing: 0.1em;*/
  font-weight: bold;
  color: white;
  width: 60vw;
  margin: auto;
  padding-top: 2vh;
  /*text-shadow: 0 1px 0 rgba(255,255,255,0.75);*/ }

.spacer {
  display: block;
  color: #333;
  text-align: center;
  /*padding: 3em 0;*/
  background-color: #fff;
  overflow: hidden;
  /*height: 100vh;*/ }

.spacer h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 5vmin;
  margin-bottom: 15px; }

.spacer h1 {
  font-size: 5vmin;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 15px;
  font-family: 'Josefin Slab', serif;
  margin-top: 10vh; }

.spacer p {
  font-family: 'Raleway', sans-serif;
  font-size: 2vmin;
  /*text-transform: uppercase;*/
  /*letter-spacing: 0.1em;*/
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  width: 60vw;
  margin: auto;
  padding-top: 2vh; }

button {
  border: 1px solid #aaa;
  padding: 0.5em 1em;
  border-radius: 4px;
  background: none;
  font-size: 2vmin;
  color: #555;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  width: 20vmin; }

button:hover {
  cursor: pointer; }

.button1, .button2 {
  font-family: 'Karla', sans-serif;
  width: 20vmin;
  height: 5vmin;
  background-color: transparent;
  border: 1px solid black;
  margin-right: 0.5vw;
  position: relative;
  transition: all 500ms ease; }

.button1:before {
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  transition: all .5s ease; }

.button2:before {
  background-color: rgba(0, 0, 0, 0.2);
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 100%;
  transition: all .5s ease; }

.button1:hover:before, .button2:hover:before {
  width: 100%; }

.container {
  max-width: 960px;
  margin: 0 auto;
  width: 95%; }

.centered {
  text-align: center;
  padding-bottom: 3.75em; }

.cleft-wrapper {
  position: relative;
  top: -1.25rem;
  margin-bottom: -1.25rem;
  left: 0;
  width: 100%;
  height: 1.25rem;
  overflow: hidden; }

.cleft-left,
.cleft-right {
  width: 50%;
  height: 1.25rem;
  background-color: #fff;
  position: absolute;
  top: 0; }

.cleft-left {
  left: -1.5rem; }

.cleft-right {
  right: -1.5rem; }

.cleft-left:before,
.cleft-right:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid; }

.cleft-left:before {
  right: -1.5rem;
  border-width: 1.25rem 0 0 1.5rem;
  border-color: transparent transparent transparent #fff; }

.cleft-right:before {
  left: -1.5rem;
  border-width: 1.25rem 1.5rem 0 0;
  border-color: transparent #fff transparent transparent; }

.carrotBox {
  position: relative; }

.carrot {
  display: block;
  height: 0;
  width: 0;
  border-top: 1.25rem solid #fff;
  border-right: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -1.5rem;
  bottom: -1.25rem; }

/*# sourceMappingURL=main.css.map */
